<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <button id="record">Record sound!</button>

    <p>Speech To Text:</p>
    <p id="message">no recognition yet</p>
    <textarea id=manualMessage val="your message"></textarea>
    <button id="sendManualMessage">Send message</button>
    <p id="rasa"><br /></p>
    <button id="clear">Clear</button>


    <script type="text/javascript" src="{{ url_for('static', filename = 'recorder.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'socket.io.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'getstream.js') }}"></script>

</body>

</html>